* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
}
  
  html{
  // border: 5px solid red;
  width: 100%;
  margin:0;

body{
    // border: 5px solid green;
    width: 80%;
    margin: 0px 10% ;
  }

@media @mobile{
  width: 96%;
  margin: 2px 4%;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;

  @media @mobile{
  font-size: 2.5rem;
  padding-bottom: 5px;
  margin: 1px;
  }


}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;

  @media @mobile{
  line-height: 1.0;
  font-size: 1.3rem;
  padding-bottom: 5px;
  margin: 1px;
  }
}

img {
  max-width: 100%;
  height: auto;

  @media @mobile{
  width: fit-content;
  height: 200px;
  margin: auto;
  
  }
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}




  